.text{
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: rgb(33, 186, 225);
/*   font-size: 50px; */
}

.mx{
  margin: auto;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 2em;
  height: 35rem;
  width: 20rem;
  background-color:rgb(12, 12, 12);
}